<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="logo">
            <h1>{{title}}</h1>
            <p>Web admin</p>
        </div>
        <div class="login-box">
            <form action="/user/loginAdmin" method="POST">
                <input type="text" name="username" placeholder="Email address or phone number" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>

</html>